<% provide(:title, 'Followers') %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/grav_name'             %>
    </section>
    <section>
      <%= render 'shared/background_user_info'  %>
    </section>
    <section>
      <%= render 'shared/stats'                 %>
    <section>
      <%= render 'shared/user_gravitars'        %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= yield(:title) %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>