
<span>
  <%= current_user.handle %>
</span>
<span>
  <%= current_user.tagline %>
</span>
<span>
  <%= current_user.location %>
</span>
<span>
  <a href="http:www.facebook.com/petegrif">My Facebook Page</a>
</span>
<span>
  <%= current_user.likes %>
</span>
<span>
  <%= current_user.dislikes %>
</span>