<a href="<%= user_path %>">
  <%= gravatar_for @user, size: 130 %>
</a>
<h2>
  <%= @user.name %>
</h2>
	<%= @user.handle	%><br />
	<%= @user.tagline	%><br />
	<i>
	<%= @user.likes		%>
	<%= @user.dislikes	%><br />
	</i>
	<%= @user.location	%>
	
