<footer class="footer">
  <small>
    <ul>
      <li><%= link_to image_tag("scrawl_logo.png", alt: "Scrawl Logo", class: "round") %>
      <li><%= link_to "About",   	about_path %>		</li>
      <li><%= link_to "Contact", 	contact_path %>		</li>
      <li><%= link_to "Terms", 		terms_path %>		</li>
      <li><%= link_to "Help", 		help_path %>		</li>
    </ul>
  </small>
</footer>
